::before,
::after {
    box-sizing: border-box;
}

.container{
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

body{
    color: var(--black);
}

h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
}

.subtitle{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
}

h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
}

h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

button, a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

button{

    padding: 6px 10px 10px;
    color: var(--blue);
    background-color: var(--white);
    border: 1px solid var(--blue);
    border-radius: 8px;
}

button:hover{

    padding: 6px 10px 10px;
    color: var(--white);
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 8px;
}

footer{
    color: var(--white);
    background-color: var(--blue);
}

:root{
    --black: #031923;
    --yellow: #E5BB33;
    --blue: #205B75;
    --white: #FFFFFF;
}

.main-nav a{
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    padding: 0 20px;
    color: var(--black);
}

.main-nav a:hover{
    color: var(--blue)
}

.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    }
    .social li {
    display: inline-block;
    margin: 0;
    padding: 0;
    }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    }
.social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.social-link{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--black);
    border-radius: 5e+07px;
    background-repeat: no-repeat;
    background-position: center;
}

.social-link:hover{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--black);
    border-radius: 5e+07px;
    background-color: var(--yellow);
}

.social-link_github{
    background-image: url(../img/github.svg);
}

.social-link_tg{
    background-image: url(../img/telegram.svg);
}

.social-link_vk{
    background-image: url(../img/vk.svg);
}

