*,
*::before,
*::after {
    box-sizing: border-box;
}

.container{
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

nav{
    display: flex;
    
}

body{
    color: var(--black);
    font-family: 'Open Sans', "Arial", sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    background-color: var(--white);
}

h1{
    font-family: 'Montserrat', "Arial", sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    margin:0;
    margin-bottom: 20px;
}

.subtitle{
    font-family: 'Open Sans', "Arial", sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
    color: var(--blue);
    margin-top: 0;
    margin-bottom: 0;
    
}

h2{
    font-family: 'Montserrat', "Arial", sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    margin: 0;
    margin-bottom: 40px;
}

h3{
    font-family: 'Montserrat', "Arial", sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

button, a{
    font-family: 'Open Sans', "Arial", sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

button{
    padding: 6px 10px 10px;
    color: var(--blue);
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: 8px;
}

button:hover{
    color: var(--white);
    background-color: var(--blue);
    cursor: pointer;
}

footer{
    color: var(--white);
    background-color: var(--blue);
    margin: 0;
}

.main-footer .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

:root{
    --black: #031923;
    --yellow: #E5BB33;
    --blue: #205B75;
    --white: #FFFFFF;
}

.main-nav a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    color: var(--black);
}

.main-nav a:hover{
    color: var(--blue)
}

.social {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}

.social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social {
    display: flex;
    margin: 0;
    list-style-type: none;
    padding: 0;
    gap: 20px;
    flex-wrap: wrap;
}

.social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.social-link{
    box-sizing: border-box;
    display: block;
    padding: 10px;
    gap: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--black);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.social-link:hover{
    background-color: var(--yellow);
}

.dark-theme .social-link:hover{
    background-color: var(--yellow);
}

.social-link_github{
    background-image: url(../img/github.svg);
}

.social-link_tg{
    background-image: url(../img/telegram.svg);
}

.social-link_vk{
    background-image: url(../img/vk.svg);
}

.contact {
    display: flex;
    margin: 0;
    list-style-type: none;
    gap: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    padding: 0;
}

.contact li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.contact-link{
    display: block;
    padding: 5px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 42px;
    color: var(--black);
    text-transform: none;
    text-decoration: none;
    flex-wrap: wrap;
}

.contact-link:hover{
    color: var(--blue);
}

/* .dark-theme .contact-link:hover{
    color: var(--blue);
} */

.contact-link_mail{
    background-image: url(../img/email.svg);
}

.dark-theme .contact-link_mail{
    background-image: url(../img/dark-theme/email.svg);
}

.contact-link_phone{
    background-image: url(../img/phone.svg);
}

.dark-theme .contact-link_phone{
    background-image: url(../img/dark-theme/phone.svg);
}

.avatar{
    border-radius: 50%;
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}

.skill-level {
    margin: 4px 0 20px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--blue);
    border-radius: 16px;
}

.skill-level div {
    height: 14px;
    background-color: var(--yellow);
    border-radius: 8px;
}

.skill-item {
    text-transform: lowercase;
}

.skill-item_html {
    background-image: url(../img/html.svg);
}

.skill-item_css {
    background-image: url(../img/css.svg);
}

.skill-item_cpp {
    background-image: url(../img/c++.svg);
}

.skill-item_figma {
    background-image: url(../img/figma.svg);
}

.skill-item_java {
    background-image: url(../img/java.svg);
}

.skill-item_photoshop {
    background-image: url(../img/photoshop.svg);
}

.main-header{
    display: flex;
    gap: 40px;
    padding-top: 60px;
    align-items: center;
    margin-bottom: 120px;
}

.main-header{
    line-height: 0;
}

.name{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap: 70px;
    margin-bottom: 120px;
    flex-direction: row;
}

.name h1{
    margin-bottom: 20px;
    margin-top: 0;
}

.text-wrapper{
    max-width: 800px;
}

.text-wrapper p+p {
    margin-top: 15px;
}

.skill-top{
    display: flex;
    padding: 0;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 40px;
    gap: 40px;
    flex-wrap: wrap;
}

.skill-top h2{
    margin: 0; 
}

.skill-top div{
    display: flex;
    gap: 20px;
    align-items: center;
}
.contacts, .interests, .skills, .about {
    margin-bottom: 120px;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

p + p {
    margin-top: 15px;
}

.nav-btn{
    display: none;       
}

.dark-theme{
    --black: #CCCCCC;
    --white: #031923;
}

.dark-theme .social-link{
    background-color: #CCCCCC;
}

@media screen and (max-width: 1024px) {   
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }

    h3 {
        font-size: 18px;
    }

    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subtitle {
        font-size: 28px;
    }
    button, a, body {
        font-size: 16px;
    }

    .name img{
        width: 250px;
        height: 250px;
    }

    .main-header img {
        width: 60px;
        height: 60px;
    }

    .skill-top{
        margin-bottom: 40px;
    }

    .contacts, .interests, .skills, .about, .name, .main-header {
        margin-bottom: 80px;
    }

    .main-nav{
        padding: 0;
        gap: 0px;
    }
    .main-nav a{
        padding: 10px 15px 10px 15px;
    }

    .name{
        gap:50px;
    }

    .contacts a{
        padding: 7px 0 7px 42px;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 650px) {   
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 16px;
    }

    .subtitle {
        font-size: 20px;
    }

    button, a, body {
        font-size: 14px;
    }

    .name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 30px;
    }

    .name img{
        width: 150px;
        height: 150px;
    }

    .main-header a img {
        width: 40px;
        height: 40px;
    }

    .main-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0px 0px;
        gap: 20px;

    }

    .main-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 0;
    }

    .main-nav a{
        padding: 20px 30px;
        gap: 0;
        text-align: center;
    }

    .name{
        text-align: center;
    }

    .name h1{
        margin-bottom: 10px;
    }

    .nav-btn{
        display: block;
        width: 30PX;
        height: 30px;
        border: 0;
    }

    .nav-btn:hover{
        background-color: transparent;
    }

    .nav-btn_close{
        background-image: url(../img/menu-btn/close.svg);
    }
    
    .nav-btn_open{
        background-image: url(../img/menu-btn/burger.svg);
    }

    .main-header-wrap{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .skill-top{
        margin-bottom: 30px;
    }

    .contacts, .interests, .skills, .about, .name, .main-header {
        margin-bottom: 60px;
    }

    .skill-top div button{
        text-align: center;
    }

    .main-footer .container{
        padding-bottom: 30px;
        padding-top: 30px;
        
    }

    .contact{
        margin-bottom: 30px;
    }

    .contact a{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 48px;
    }

    .contacts a{
        padding: 7px 0 7px 42px;
    }

    .main-nav_closed{
        display: none;
    }
}


@media screen and (max-width: 380px) {   
    .skill-top{
        flex-direction: column;
        align-items: flex-start;
    }

    .skill-top div{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 10px;
    }

    .skill-top div button{
        width: 100%;
        text-align: center;

    }

}

@media screen and (max-width: 360px) { 
    .contact{
        flex-direction: column;
        gap:15px;
        margin-bottom: 20px;
    }
    .contact li a{
        padding: 8px 0px 8px 42px;
    }

    .contacts, .interests, .skills, .about, .name, .main-header {
        margin-bottom: 50px;
    }

    .social{
        gap: 15px;
    }

    .skill-top{
        gap: 20px;
        line-height: 20px;
    }

    .skill-level{
        margin-top: 8px;
        margin-bottom: 22px;
    }
}